article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/* General Styling Begins */
/* font-family: 'Iceberg', cursive;
font-family: 'Montserrat', sans-serif; */

h1, h2, h3, h4, h5, a, p{
	font-weight: lighter;
}

html{
	font-size: 62.5%;
	  width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 	
}

body {
  
  line-height:62.5%;
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width:1080px;
  width: 80%;
  line-height:62.5%;
  margin:0 auto;
  text-align:center;
}

.sr-only{
	display:none;
}

/* Header Styling Begins */

header {
  background-image: url(Thunder-Force-Stadium-assets/header-image.jpg);
  background-position: center;
  background-repeat: none;
  height:90vh;
  margin: 0 auto;
}
.header-sub{
	background:#9200FF;
	display:inline-block;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:35px;
	margin-top: 25px;
}

.header-sub h5{
	margin:20px;
	padding: 5px;
	font-weight: lighter;
	
}
.main-nav{
	width:80%;
	margin:0 auto;
	padding-top: 2%;
}

ul {
 
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  padding:0;
  text-align: center;
  margin-top:0;

}

li {
display:inline-block;
  text-align:center;
  margin-right:20px;
  padding-top: 10px;

}
.social{
	position:fixed;
	right:5px;
	top: 120px;
}
.social li{
	display:block;
	margin: 10px;
}

.social i{
	font-size:15px;
}

.hamburger, .mobile-nav{
	display:none;
}
.main-nav a,
a:visited {
  color: white;
  text-decoration: none;
  font-size:25px;
  line-height:29px;
  opacity:0.9;
  transition:0.5s;

}

.main-nav a:hover{
	border:2px solid white;
	opacity: 0.3;
	
}

h1 {
  font-family: "Iceberg", cursive;
  color: white;
  clear: both;
  margin:0 auto;
  font-size: 80px;
  font-weight: lighter;
  line-height:80px;
  width:30%;
  padding-top:70px;
}
/* End of Header Styling */
/* Performing Section Styles begins */

.performing{
	background:#0F0632;
}

.left{
	width:calc(50% - 40px);
	float:left;
	padding-top:3%;
	color:white;
}
 h2{
	font-family: 'Iceberg', cursive;
	font-size:40px;
	text-align:left;
	color:white;
	margin:0;
	line-height:50px;
	font-weight:lighter;
	

}

 p{
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	line-height:20px;
	text-align:left;

}

.image-right{
	width:50%;
	float:right;
}

.image-right img{
	width:100%;
	display:block;
	
}

.read-more{
	background:#9200FF;
	padding: 6px;
	float:left;
	margin:2% 0;
}

.read-more a{
	color:white;
	font-family: 'Iceberg', cursive;
	font-size:25px;
	text-decoration:none;
	line-height:20px;
}
/* Experience Section styling begins */
.experience{
	clear:both;
	background:#0F0632;
}

.image-left{
	width:50%;
	float:left;
}

.right2{
	width:50%;
	float:right;
	padding-top:3%;
}

.image-left img{
	width:100%;
	display:block;
}
/* Tickets section styling begins */
.tickets{
	clear:both;
	background-color:#08080B;
	padding: 5%;
}

.ticket-image{
	width: 30%;
	float:left;	
}



.ticket-image img{
	width:100%;
}

.ticket-info{
	width:calc(70% - 15px);
	float:left;
	margin-left: 15px;
}




.ticket-container{
	width:100%;
}
/* CTA section styling begins */
.cta{
	background-color:#3D0369;
}
.locations, .cta-tickets, .reach{
	color:white;
	display:inline-block;	
	margin:8% 3%;

}

.cta i{
	font-size:35px;
}

.cta h4{
	font-size:30px;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-weight:lighter;
}


/* Gallery section styling begins */
.gallery{
	clear:both;
	background-color:#0F0632;
	padding-bottom: 5%;
}

.gallery h2{
	text-align:center;
	padding: 5%;
}

.gallery-image{
	width: calc(94% / 3);
	float:left;
	margin: 1%;
}
.gallery-image img{
	width:100%;
}
/* Footer Section Styling Begins */

footer{
	background:#3D0369;
}

.footer-left{
	float:left;
	width: 50%;
	text-align:left;
}

.footer-left p{
	width:67%;
}

.footer-right{
	float:left;
	width: 50%;
	text-align: left;
}

footer h3{
	color:white;
	font-family: 'Iceberg', cursive;
	font-size:40px;
}

input[type=email]{
	float:left;
	padding:9px 30% 9px 9px;
}

input[type=submit]{
	font-family: 'Montserrat', sans-serif;
	color:white;
	background-color:#9200FF;
	border:none;
	font-size:25px;
	float:left;
	padding:4px;
}


.copyright{
	clear:both;
	background:#0F0632;
	color:white;
}

.copyright p{
	text-align:center;
	padding: 2%;
	margin:0;
}

/* MEDIA QUERIES BEGIN */

/* Start of max 940px styling */
@media (max-width: 940px){

	header h1{
		font-size:60px;
	}
	
	h2{
		font-size: 40px;
	}

	.header-nav{
		display:none;
	}

	.hamburger{
		display:block;
		
	}

	.hamburger i{
		color:white;
		font-size:50px;
		display:block;
		padding-top: 3%;

	}
	.mobile-nav a{
		color: white;
		font-size: 15px;
		text-decoration: none;
		list-style-type: none;
		margin:0;
	}


	.mobile-nav li{
		display:block;
		margin:0 auto;
		padding:8px;
	}
	.open{
		display:block;
	}

	p{
		font-size: 16px;
		line-height: 20px;
		
	}

	.ticket-info p{
		margin:0 5px;
	}

	.social-nav{
		display:none;
	}

	input[type=submit]{
		font-size:16px;
		
	}
}
/* Start of max 890px styling */
@media (max-width: 890px){

	header {
		background-position: 32% 11%;
		background-size: cover;
	}


	h2{
		font-size:41px;
	}

	p{
		font-size:18px;
		line-height:20px;
		margin:0px;
	}

	h1{
		font-size:60px;
		padding-top:10px;
	}

	.header-sub h5{
		font-size: 22px;
	}

	.header-sub{
		margin:10px;
		
	}

	.image-right, .left, .image-left, .right2, .ticket-image, .ticket-info{
	width: 100%;
	}

	input[type="email"]{
		width: 80%;
	}

	input[type=submit]{
		width:20%;
	}
	
}

/* Start of 800px Media Query */
@media (max-width: 800px){
	h1{
		width:40%;
	}
	.locations, .cta-tickets, .reach{
		width:100%;
		margin:0 auto;
		padding: 3% 0;
	}

	.footer-left, .footer-right{
		width:100%;
		float:none;
	}

	.footer-left  p{
		text-align: center;
		margin:0 auto;
		padding:5%;
		width:60%;
	}

	.footer-left h3{
		margin:0;
		text-align:center;
		padding-top:7%;
	}

	.footer-right h3{
		margin:0;
		text-align:center;
	}

	.footer-right p{
		text-align: center;
		margin:0 auto;
		padding:5%;
		width:60%;
	}

	input[type=submit]{
		font-size:20px
	}


}

/* Start of max 650px styling */
@media (max-width: 650px){
	header h1{
		font-size: 50px;
	}

	.left h2{
		font-size: 30px;
	}
	
	.right2 h2{
		font-size: 30px;
	}

	.left, .right2{
		padding: 20px;
	}

	.read-more a{
		font-size: 15px;
	}

	.footer-left, .footer-right{
		width:100%;
	}

	input[type=email]{
		width:100%;
	}
	input[type=submit]{
		width:100%;
	}
}
/* Start of max 500px styling */
@media (max-width: 500px){
	
	h1{
		width: 40%;
	}

	.header-sub h5{
		font-size: 20px;
	}

	.locations, .cta-tickets, .reach{
		width: 100%;
	}

	.footer-left{
		width:100%;
		text-align:center;
	}

	.footer-left p{
		text-align: left;
	}

	.footer-right{
		width:100%;
		text-align: center;
	}

	.footer-right p{
		text-align: left;
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.footer-nav a{
		font-size: 18px;
	}


}

/* Start of max 400px styling */
@media (max-width: 400px){
	p{
		font-size:16px;
	}
	 h2{
		font-size:36px;
	
	}
	header{
		background-position: 32% 11%;
		background-size: cover;
		height: 70vh;
	}

	.main-nav{
		display:none;
	}

	.mobile-nav{
		display: none;
	}

	h1{
		width:50%;
		font-size:45px;
		line-height:47px;
		padding-top: 60%;
	}

	.header-sub h5{
		font-size: 16px;
	}

	

	.left, .image-right, .image-left, .right2, .ticket-image, .ticket-info{
		width:100%;
	}

	.cta{
		padding: 10%;
	}

	.read-more{
		margin-bottom: 2% 0;
	}
	.gallery{
		padding-top:5%;
	}

	.gallery-container{
		width:90%;
	}

	.gallery-image{
		width:48%;
		float:left;
	}
	.gallery-container :nth-last-child(3){
		display:none;
	}

	.footer-left{
		width:100%;
		text-align:center;

	}

	.footer-left p{
		width:85%;
	}

	.footer-right{
		width:100%;
		text-align:center;
	}

	.footer-right, .footer-left p{
		text-align:center;
		margin:0 auto;
	}

	input[type=email]{
		width:100%;
	}
	input[type=submit]{
		width:100%;
	}
}

/* End of CSS Styling */